spec:
  inputs:
    ENV:
      type: string
      description: 'Выбор env'
      options:
        - dev
      default: dev
    PROJECT:
      type: string
      description: 'Выбор проект для запуска'
      options:
        - smoke
        - regression
        - all
      default: 'smoke'
    WORKERS:
      type: number
      description: 'Выбор количество потоков'
      options:
        - 1
        - 3
        - 5
      default: 1
---

variables:
  ENV: $ENV
  PROJECT: $PROJECT
  WORKERS: $WORKERS

workflow:
  name: 'Test $ENV | $PROJECT marker | $WORKERS workers'

stages:
  - test

api-test:
  stage: test
  image: docker:latest
  services:
    - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
  before_script:
    - apk add --no-cache docker-compose
  script:
    - git fetch origin gh-pages || true
    - git worktree add .gitlab/gh-pages gh-pages || mkdir .gitlab/gh-pages
    - rm -rf allure-results allure-report
    - mkdir -p allure-results/history
    - |
      if [ -d "./.github/gh-pages/history" ]; then
      cp -R ./.github/gh-pages/history/* allure-results/history/
      fi
    - |
    - cat > allure-results/environment.properties <<EOF
      Branch=$CI_COMMIT_REF_NAME
      Commit=$CI_COMMIT_SHORT_SHA
      Environment=$ENV
      Project=$PROJECT
      Workers=$WORKERS
      RunBy=$GITLAB_USER_LOGIN
      RunID=$CI_PIPELINE_ID
      EOF

    - export TELEGRAM_BOT_CHAT_ID=$TELEGRAM_BOT_CHAT_ID
    - export TELEGRAM_BOT_ACCESS_TOKEN=TELEGRAM_BOT_ACCESS_TOKEN
    - docker-compose up test

    - export STAGE=$STAGE
    - docker compose up report

    - mkdir -p public
    - cp -R allure-report/* public/
      
      # Send success notification to Telegram
    - |
      if [ "$CI_JOB_STATUS" == "success" ]; then
      export DEPLOYMENT_STATUS=success
      export REPORT_URL=$CI_PAGES_URL
      export REPORT_ENV=$ENV
      export GITHUB_ACTOR=$GITLAB_USER_LOGIN
      export WORKFLOW_URL=$CI_PIPELINE_URL
      docker compose run --rm tests npm run notify
      fi
      after_script:
        # Send failure notification to Telegram
    - |
      if [ "$CI_JOB_STATUS" == "failed" ]; then
      export DEPLOYMENT_STATUS=failed
      export REPORT_URL=$CI_PAGES_URL
      export REPORT_ENV=$ENV
      export PROJECT=$PROJECT
      export WORKERS=$WORKERS
      export GITHUB_ACTOR=$GITLAB_USER_LOGIN
      export WORKFLOW_URL=$CI_PIPELINE_URL
      docker compose run --rm tests npm run notify || true
      fi
  artifacts:
    paths:
      - public
    expire_in: 30 days
  only:
    - web

pages:
  stage: test
  dependencies:
    - api-test
  script:
    - echo "Deploying to GitLab Pages"
  artifacts:
    paths:
      - public
  only:
    - web
