spec:
  inputs:
    ENV:
      type: string
      description: 'Выбор env'
      options:
        - dev
      default: dev
    PROJECT:
      type: string
      description: 'Выбор проект для запуска'
      options:
        - smoke
        - regression
        - all
      default: 'smoke'
    WORKERS:
      type: number
      description: 'Выбор количество потоков'
      options:
        - 1
        - 3
        - 5
      default: 1
---

stages:
  - test
  - report

variables:
  ENV: $[[ inputs.ENV ]]
  PROJECT: $[[ inputs.PROJECT ]]
  WORKERS: $[[ inputs.WORKERS ]]
  CI_TOKEN: ${CI_TOKEN}

services:
  - docker:24.0.5-dind

workflow:
  name: 'Test $ENV | $PROJECT marker | $WORKERS workers'

api-test:
  stage: test
  image: docker:24.0.5
  variables:
    DOCKER_DRIVER: overlay2
  before_script:
    - apk add --no-cache curl jq unzip
    - |
      ARTIFACTS_URL="$CI_SERVER_URL/api/v4/projects/$CI_PROJECT_ID/jobs/artifacts/$CI_DEFAULT_BRANCH/download?job=pages&private_token=$CI_TOKEN"
      ARTIFACTS_EXIST=$(curl -s -o /dev/null -w "%{http_code}" "$ARTIFACTS_URL")
      echo "HTTP status code = $ARTIFACTS_EXIST"
      if [ "$ARTIFACTS_EXIST" -eq 302 ] || [ "$ARTIFACTS_EXIST" -eq 200 ]; then
        echo "Artifacts exist, downloading…"
        curl -L --output artifacts.zip "$ARTIFACTS_URL"   
        unzip -q artifacts.zip                            
        chmod -R 777 public                               
        mkdir -p allure-results && cp -r public/history allure-results
      else
        echo "No artifacts found, moving on…"
      fi          
  script:
    - docker compose build tests
    - docker create --name tests-container -e PROJECT=$PROJECT -e WORKERS=$WORKERS test_pw:v1 sh -c "npx playwright test --project=\$PROJECT --workers=\$WORKERS --alluredir=allure-results --junitxml=test-results/junit.xml; allure generate allure-results --clean -o allure-report"
    - if [ -d "allure-results/history" ]; then docker cp allure-results/history tests-container:/usr/workspace/allure-results/; fi
    - docker start -a tests-container || true
    - docker cp tests-container:/usr/workspace/allure-results ./allure-results
    - docker cp tests-container:/usr/workspace/allure-report ./allure-report
    - mkdir -p test-results && docker cp tests-container:/usr/workspace/test-results/. ./test-results/ || true
    - docker rm tests-container || true
  artifacts:
    when: always
    expire_in: 10 days
    paths:
      - allure-report
      - test-results/junit.xml
    reports:
      junit: test-results/junit.xml
    # rules:
    #   - if '$CI_COMMIT_REF_NAME == "main"'

pages:
  stage: report
  needs:
    - api-test
  script:
    - mkdir -p public
    - cp -r allure-report/* public
  artifacts:
    when: on_success
    expire_in: never
    paths:
      - public
